# AWS Credentials for Learner Lab
AWS_ACCESS_KEY_ID=YOUR_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=YOUR_SECRET_ACCESS_KEY
AWS_SESSION_TOKEN=YOUR_SESSION_TOKEN
AWS_DEFAULT_REGION=us-east-1

# DynamoDB Table Name
DYNAMODB_TABLE=SmartSiteGuardEvents

# MQTT and simulator settings
MQTT_BROKER=localhost
MQTT_PORT=1883
MQTT_TOPIC=smartsite/raw
SITE_ID=site-dublin-01
ZONE_ID=zone-A
PUBLISH_INTERVAL_SECONDS=2
RAW_TOPIC=smartsite/raw
API_ENDPOINT=https://fhdebl9w4j.execute-api.us-east-1.amazonaws.com/prod/events